<!DOCTYPE html>
<html lang="en">
<head>
    <link href="home.css" rel="stylesheet" type="text/css" />
    <meta charset="UTF-8">
    <title>Edit Inventory Item</title>
</head>
<body>

{{>header}}

<div id="mainContent">
{{#book}}
    <form action="/edit-item" method="post">
        <fieldset>
            <legend>Edit Inventory Item as Needed</legend>
            <p>
            <div style="float:left;margin-right:20px;">
                <label for="bookTitleInput">Title</label>
                <input type="text" name="bookTitleInput" value="{{title}}" required />
            </div>
            <div style="float:left;">
                <label for="bookAuthorInput">Author</label>
                <input type="text" name="bookAuthorInput" value="{{author}}" required />
            </div>
            </p>
            <p style="clear:both;">
            <div style="float:left;margin-right:20px;">
                <label for="bookYearInput">Year</label>
                <input type="number" name="bookYearInput" value="{{year}}" required />
            </div>
            <div style="float:left;margin-right:20px;">
                <label for="bookIsbnInput">Isbn</label>
                <input type="number" name="bookIsbnInput" value="{{isbn}}" required/>
            </div>
            <div style="float:left;">
                <label for="bookRatingInput">Rating</label>
                <select name="bookRatingInput" required>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>
            </div>
            </p>
            <p style="clear:both;">
                <label for="bookDescriptionInput">Short Description</label>
                <textarea name="bookDescriptionInput" rows="5" cols="50" required>{{shortDescription}}</textarea>
            </p>
            <button type="reset">Reset Fields</button> <a href="/"><button type="button">Cancel Edit</button></a> <button type="submit">Edit</button>
        </fieldset>
    </form>
{{/book}}
    </div>

</body>
</html>