{{#userName}}
<!-- I show up if the user IS logged in -->
<ul>
    <li>
<span id="logout">
<form action="/logout" method="post">
    <button class="navButton" type="submit">Logout</button>
</form>
</span>
    </li>
    <li><a href="/">{{userName}}</a></li>
</ul>
{{/userName}}


{{^userName}}
<!-- I show up if the user is NOT logged in -->
<ul>
<span id="login">
<form action="/login" method="post">
    <li tabindex="2"><button class="navButton" type="submit">Submit</button></li>
    <li tabindex="1"><input type="userPassword" name="passwordInput" placeholder="User Password" /></li>
    <li tabindex="0"><input type="text" name="nameInput" placeholder="User Name" /></li>
</form>
</span>
    {{#passMisMatch}}
    <li style="color:red;">
        You have entered an invalid password.
    </li>

    {{/passMisMatch}}
</ul>

{{/userName}}

